.main-root {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 200vh;
  height: 88vh;

  /* max-height: 90vh; */
}

.main-chat {
  border: 1px solid black;
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-top {
  height: 4rem;
  border: 1px solid black;
  background-color: #0A4D68;
}

.chat-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #F0EEC8;
  overflow-y: auto;
}

.message1 {
    text-align: right;
    border: 0.5px solid black;
    border-radius: 25%;
    padding: 5px;
    max-width: 15rem;
    min-width: 4rem;
    margin-left: auto;  
    word-wrap: break-word;
    background-color: #00FFCA;
    margin-bottom: 3px;
  }
  
  .message2 {
    text-align: right;
    border: 0.5px solid black;
    border-radius: 25%;
    padding: 5px;
    max-width: 10rem;
    min-width: 4rem;
    margin-right: auto;  
    word-wrap: break-word;
    background-color: #05BFDB;
    margin-bottom: 3px;
    
  }
  

.chat-bottom {
  display: flex;
  flex-direction: row;
  height: 3rem;
  font-size: 1rem;
}

.chat-bottom input {
  height: 3rem;
  flex-grow: 1;
  background-color: #F0EEC8;
}

.chat-bottom button {
  width: 3rem;
  background-image: url("../../static/send-icon.png");
  background-repeat: no-repeat;
  background-size: 2.7rem;
  border: none;
  /* background-color: #CDC2AE; */
  /* background-color: white; */
}

.main-menu {
  border: 1px solid black;
  flex: 1;
  min-width: 10rem;
  max-width: 15rem;
  overflow: auto;
}

.content-card {
  direction: ltr;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 4.5rem;
}

.content-card:hover {
    cursor: pointer;
    background-color: #088395;
}

.content-card:first-child:hover {
    cursor: auto;
    background-color: inherit;
}

.name-last-container {
    flex: 2;
}

.img-container {
    flex: 1;
}

.img-container img {
    border: black solid 2px;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
}

