.drop-down {
    background-color: #F0EEC8;
    border-radius: 5px;
    border: none;
    text-align: right;
    direction: rtl;
    /* width: 5px; */
    margin: 0 auto;
    position: relative; /* Add relative positioning */
}

.search-input {
    min-width: 30vw;
}

.search-res {
    list-style: none;
    border: 2px black solid;
    background-color: #00FFCA;
    max-height: 50vh;
    width: 190px;
    overflow-y: auto;
    direction: rtl;
    min-width: 30vw;
    position: absolute; /* Change to absolute positioning */
    top: 100%; /* Position the "search-res" below the "search-input" class */
    left: auto; /* Align the "search-res" with the left side of the "search-input" class */
    z-index: 2;
}

.main-list {
    padding-right: 3px;
}

.sub-list {
    list-style: none;
    margin-left: 1rem;
    margin-bottom: 0;
}

.search-res input[type="checkbox"] {
    margin-left: 5px; 
}

.search-res li {
    cursor: pointer;
}

.labelCheckbox {
    
}

