@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  /* height: 100%; */
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Main container */
.main-div {
  width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
  /* overflow-y: scroll;  */
  overflow-x: hidden;
  flex: 1; /* Take up remaining available space */
}

/* Search section */
.main-search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  min-width: 100vw;
  background-image: url('https://www.shutterstock.com/image-vector/web-site-development-maintenance-tools-600w-2087806093.jpg');
  background-size: cover;
  margin-bottom: 1rem;
}

.dd-search {
  height: 2rem;
  width: auto;
}

.search-input {
  width: auto;
  height: 2rem;
}

.search-bth {
  width: auto;
  height: 2rem;
}

/* Mentors cards */
.cards-container {
  /* max-height: 60vh;
  overflow-y: auto; */
}

.card-container {
  background-color: #05BFDB;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.right-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 130px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.img-container img {
  width: 100px; /* Set the width of the image */
  height: 100px; /* Set the height of the image */
  border: black solid 2px;
  border-radius: 50%;
}

.teachs-container {
  text-align: center;
  width: 200px;
  flex: 1;
}

.teachs-container p {
  margin-bottom: 5px;
}

.center-card {
  flex: 2;
  text-align: right;
  padding-right: 1rem;
}

.center-card h6 {
  display: inline;
}

.center-card p {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 1.5;
  min-height: calc(3 * 1.5 * 16px);
  overflow: hidden;
}

.left-card {
  flex: 1;
  text-align: center;
  max-width: 130px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.rating-container {
  margin-top: 5px;
  flex: 1;
}

.price-container {
  margin-top: 0;
  flex: 1;
}

.bth-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination-bth {
  background-color: #088395;
  margin-left: 1rem;
}

.selected-pagination-bth {
  margin-left: 1rem;
  background-color: #05BFDB;
}

